---
import Layout from '../../layouts/Layout.astro';
import HeaderProjet from '../../components/Header-projet.jsx'

export const prerender = true;
---

<Layout title="Welcome to Astro.">
	<main class="m-margin">
        <HeaderProjet />
	</main>
</Layout>

