@import "tailwindcss";

@font-face {
  font-family: "Moderat";
  src: url("/fonts/Moderat-Book.woff2") format("woff2"),
    url("/fonts/Moderat-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Colors */
  --color-blue: #0000ff;

  /* Spacing */
  --spacing-margin: 10px;

  /* Font */
  --font-base: "Moderat", sans-serif;
  --text-base: 14px;
  --text-title: 18px;
}

body {
  @apply font-base text-base;
  line-height: 1, 1;
}

.custom-cursor-target {
  cursor: none;
}